.DS_Store
*.swp

**/**/.idea

*.pyc
.cache
tmp
.pytest_cache
__pycache__
.venv

**/**/node_modules
**/**/npm-debug.log
**/**/yarn.lock
**/**/yarn-error.log

scala/**/bin/
scala/**/project/
scala/**/target/
scala/**/build/
scala/**/src/main/scala/.keep

haskell/**/.stack-work
haskell/**/*.cabal
